@font-face {
  font-family: "iconfont"; /* Project id 3661662 */
  src: url('iconfont.woff2?t=1667178267924') format('woff2'),
       url('iconfont.woff?t=1667178267924') format('woff'),
       url('iconfont.ttf?t=1667178267924') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibo:before {
  content: "\e62f";
}

.icon-weixin1:before {
  content: "\e66c";
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

.icon-QQkongjian:before {
  content: "\e674";
}

.icon-fenxiang:before {
  content: "\e86e";
}

.icon-dayinji_o:before {
  content: "\eb48";
}

.icon-weixin:before {
  content: "\e62c";
}

.icon-huidaodingbu:before {
  content: "\e695";
}

